{% extends "new_Template.html" %}

{% block title %}
  <title>About Us</title>
{% endblock %}

{% block style %}
  <style>
    .wrapper:after, .wrapper:before {
      box-sizing: border-box;
      display: block;
      font-size: 4em;
      padding: 1em;
      width: 6em;
      height: 3em;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: -2;
    }
    .wrapper:after {
      content: " ";
      font-weight: bold;
      text-align: center;
      background: #fff;
      color: #000;
      mix-blend-mode: lighten;
    }
    section {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      isolation: isolate;
      position: relative;
      height: 60vh;
      padding: 1em;
      z-index: -3;
    }
    .wrapper {
      clip: rect(auto auto auto auto);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .wrapper:before {
      content: " ";
      padding: 2em 3.5em;
      mix-blend-mode: darken;
    }
    .one {
      background-image: url(https://source.unsplash.com/1920x1080?nature);
    }
    .one .wrapper:before {
      background: red;
    }
    .one .wrapper:after {
      content: "About";
    }
    .two {
      background-image: url(https://source.unsplash.com/1920x1080?portrait);
    }
    .two .wrapper:before {
      background: #faaa54;
      mix-blend-mode: difference;
    }
    .two .wrapper:after {
      content: "Goal";
    }
    .three {
      background-image: url(https://source.unsplash.com/1920x1080?landscape);
    }
    .three .wrapper:before {
      background: #6c320a;
      mix-blend-mode: screen;
    }
    .three .wrapper:after {
      content: "Room";
    }
    .four {
      background-image: url(https://source.unsplash.com/1920x1080?stars);
    }
    .four .wrapper:before {
      background: #e4135d;
    }
    .four .wrapper:after {
      content: "Method";
    }
    .content_block{
      width: 100wv;
      position: relative;
    }
    .content_block:before{
      content: " ";
      z-index: -1;
      position: absolute;
      display: inline-block;
      background-color: white;
      top: 0;left: 0;right: 0;bottom: 0;
      min-height: 15vh;
    }
    .content_block:nth-child(4n+3):before{
      transform: skew(0deg, 4deg) scaleY(1.4);
    }
    .content_block:nth-child(4n+1):before{
      transform: skew(0deg, -4deg) scaleY(1.4);
    }
    .content_block h1{
      margin: 0px;
      padding: 20px;
      text-align: center;
    }
    .content_block p{
      padding-left: 5vw;
      padding-right: 5vw;
      text-align: center;
      font-size: larger;
    }
  </style>
{% endblock %}

{% block content %}
  <section class="one">
    <div class="wrapper"></div>
  </section>
  
  <div class="content_block">
    <h1 class="text-3xl font-bold">關於我們</h1>
    <p>
      Hello, 我們是國立勤益科技大學E419-3實驗室, 熱衷於研究以及技術開發, 歡迎與我們進行交流, 不論是技術或是相關興趣都可以。
    </p>
  </div>

  <section class="two">
    <div class="wrapper"></div>
  </section>

  <div class="content_block">
    <h1 class="text-3xl font-bold">研究方向</h1>
    <p>
      主要研究項目為影像辨識、影像處理、網路架構、網站設計、自動光學檢查等相關領域, 也熱衷於其他領域的學習。
    </p>
  </div>

  <section class="three">
    <div class="wrapper"></div>
  </section>

  <div class="content_block">
    <h1 class="text-3xl font-bold">負責教室</h1>
    <p>
      所屬負責教室為E420, 若有相關問題可以回報給我們實驗室, 我們也會盡快處理。
    </p>
  </div>

  <section class="four">
    <div class="wrapper"></div>
  </section>

  <div class="content_block" style="background-color: white;">
    <h1 class="text-3xl font-bold">管理方案</h1>
    <p>
      使用派送系統以及防火牆來管理實驗室, 並提供內部實驗生相關服務, 像是NAS、財產管理系統、OpenVPN等服務來讓實驗室更方便使用。
    </p>
  </div>
{% endblock %}

{% block footer %}
  
{% endblock %}