{% extends 'new_Template.html' %}


{# 此部分為標題設定 #}
{% block title %}
    <title>Import Excel</title>
{% endblock %}


{# 此部分為css #}
{% block style %}
{% endblock %}

{# 此部分為html主要內容 #}
{% block content %}
    {% verbatim %}
    <div id="showExcel">
        <div class="inline-block min-w-full py-2 sm:px-10 lg:px-14">
            <div class="p-3 justify-end flex gap-3">
                <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" @click="clearSheet">
                    清除
                </button>
                <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" @click="sendSheetToBackend">
                    <img class="animate-spin h-8" :class="{ hidden: !isUploading }" src="/static/images/loadingIcon.png">
                    <p :class="{ hidden: isUploading }">送出</p>
                </button>
            </div>
            <div class="overflow-auto h-96 bg-slate-50 rounded-2xl relative">
                <div class="h-full w-full absolute" :class="{ hidden: !isUploadBox }">
                    <div class="h-full w-full absolute">
                        <img class="h-72 mx-auto mt-10" src="/static/images/upload.png">
                        <div class="text-center text-2xl">拖曳檔案或點選上傳</div>
                    </div>
                    <input
                    class="opacity-0 h-full w-full absolute"
                    id="excelInputField"
                    type="file" :onchange="whenFileOnUploaded" >
                </div>
                <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b font-medium dark:border-neutral-500 text-center text-lg">
                        <tr>
                        <th scope="col" class="px-4 py-3">編號</th>
                        <th scope="col" class="px-4 py-3">序號</th>
                        <th scope="col" class="px-4 py-3">財產名稱</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                        class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600"
                        v-for="row in sheet" @click="showDetail(row)">
                            <td class="whitespace-nowrap px-6 py-4 font-medium">{{ row["財產編號"] }}</td>
                            <td class="whitespace-nowrap px-6 py-4 font-medium">{{ row["序號"] }}</td>
                            <td class="whitespace-nowrap px-6 py-4 font-medium">{{ row["財產名稱"] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div :class="{ hidden: !isDetailBox }">
            <div class="mx-10 rounded-xl bg-white p-5 grid grid-cols-1 gap-3 md:grid-cols-2">
                <div class="text-2xl md:col-span-2">
                    名稱:{{ nowShowingData["財產名稱"] }}
                </div>
                <div class="text-md">
                    編號:{{ nowShowingData["財產編號"] }}
                </div>
                <div class="text-md">
                    序號:{{ nowShowingData["序號"] }}
                </div>
                <div class="text-md">
                    保管人員:{{ nowShowingData["保管人員"] }}
                </div>
                <div class="text-md">
                    存置地點:{{ nowShowingData["存置地點"] }}
                </div>
                <div class="text-md">
                    取得日期:{{ nowShowingData["取得日期"] }}
                </div>
                <div class="text-md">
                    年限:{{ nowShowingData["年限"] }}
                </div>
                <div class="text-md">
                    單價:{{ nowShowingData["單價"] }}
                </div>
                <div class="text-md">
                    數量:{{ nowShowingData["數量"] }} / {{ nowShowingData["單位"] }}
                </div>
                <div class="text-md md:col-span-2">
                    廠牌型式:{{ nowShowingData["廠牌型式"] }}
                </div>
            </div>
        </div>       
    </div>
    {% endverbatim %}
{% endblock %}

{# 此部分為javaScript #}
{% block javascript %}
    {% load static %}
    <script src="{% static 'javaScripts/xlsx.min.js' %}"></script>

    <script>
        const app = Vue.createApp({
            data(){
                return{
                    sheet: [],
                    nowShowingData: {},
                    /* Control Showing */
                    isDetailBox: false,
                    isUploadBox: true,
                    isUploading: false,
                }
            },
            methods:{
                // 讀取Cookie
                readCookie(name) {
                    var nameEQ = name + "=";
                    return R.defaultTo(null)(R.find(
                        R.pipe( R.equals(undefined), R.not),
                        R.map(
                            R.ifElse(
                                    R.pipe(R.indexOf(nameEQ), R.equals(-1), R.not),
                                    R.ap(
                                        R.flip(R.takeLast),
                                        R.pipe(R.length, R.flip(R.subtract)(nameEQ.length))
                                    ),
                                    R.always(undefined)
                                ),
                            R.split(';', document.cookie)
                        )
                    ))
                },
                whenFileOnUploaded(inputElement){
                    R.when(
                        R.pipe(
                            R.prop('target'),
                            R.prop('files'),
                            R.prop('length'),
                            R.flip(R.gt)(0)
                        ),
                        (x) => {
                            const fileReader = new FileReader();
                            fileReader.onload = (ev) => {
                                const workbook = XLSX.read(
                                    R.pipe(
                                        R.prop('target'),
                                        R.prop('result')
                                    )(ev),
                                    {
                                        type: 'binary'
                                    }
                                )
                                for (var sheet in workbook.Sheets) {
                                    this.delete_rows(workbook.Sheets[sheet],0, 1)
                                    R.when(
                                        (x)=>{ return workbook.Sheets.hasOwnProperty(x) ?  true : false },
                                        R.pipe(
                                            R.flip(R.prop)(workbook.Sheets),
                                            XLSX.utils.sheet_to_json,
                                            (x)=>{ this.sheet = x }
                                        )
                                    )(sheet)
                                }
                            }
                            fileReader.readAsBinaryString(
                                R.pipe(
                                    R.prop('target'),
                                    R.prop('files'),
                                    R.head
                                )(x)
                            )
                            this.isUploadBox = false
                        }
                    )(inputElement)
                },
                clamp_range(range) {
                    if(range.e.r >= (1<<20)) range.e.r = (1<<20)-1;
                    if(range.e.c >= (1<<14)) range.e.c = (1<<14)-1;
                    return range;
                },
                delete_rows(ws, start_row, nrows) {
                    /*
                        deletes `nrows` rows STARTING WITH `start_row`
                        - ws         = worksheet object
                        - start_row  = starting row (0-indexed) | default 0
                        - nrows      = number of rows to delete | default 1
                    */
                    var crefregex = /(^|[^._A-Z0-9])([$]?)([A-Z]{1,2}|[A-W][A-Z]{2}|X[A-E][A-Z]|XF[A-D])([$]?)([1-9]\d{0,5}|10[0-3]\d{4}|104[0-7]\d{3}|1048[0-4]\d{2}|10485[0-6]\d|104857[0-6])(?![_.\(A-Za-z0-9])/g;
                    if(!ws) throw new Error("operation expects a worksheet");
                    var dense = Array.isArray(ws);
                    if(!nrows) nrows = 1;
                    if(!start_row) start_row = 0;

                    /* extract original range */
                    var range = XLSX.utils.decode_range(ws["!ref"]);
                    var R = 0, C = 0;

                    var formula_cb = function($0, $1, $2, $3, $4, $5) {
                        var _R = XLSX.utils.decode_row($5), _C = XLSX.utils.decode_col($3);
                        if(_R >= start_row) {
                            _R -= nrows;
                            if(_R < start_row) return "#REF!";
                        }
                        return $1+($2=="$" ? $2+$3 : XLSX.utils.encode_col(_C))+($4=="$" ? $4+$5 : XLSX.utils.encode_row(_R));
                    };

                    var addr, naddr;
                    /* move cells and update formulae */
                    if(dense) {
                        for(R = start_row + nrows; R <= range.e.r; ++R) {
                            if(ws[R]) ws[R].forEach(function(cell) { cell.f = cell.f.replace(crefregex, formula_cb); });
                            ws[R-nrows] = ws[R];
                        }
                        ws.length -= nrows;
                        for(R = 0; R < start_row; ++R) {
                            if(ws[R]) ws[R].forEach(function(cell) { cell.f = cell.f.replace(crefregex, formula_cb); });
                        }
                    } else {
                        for(R = start_row + nrows; R <= range.e.r; ++R) {
                            for(C = range.s.c; C <= range.e.c; ++C) {
                                addr = XLSX.utils.encode_cell({r:R, c:C});
                                naddr = XLSX.utils.encode_cell({r:R-nrows, c:C});
                                if(!ws[addr]) { delete ws[naddr]; continue; }
                                if(ws[addr].f) ws[addr].f = ws[addr].f.replace(crefregex, formula_cb);
                                ws[naddr] = ws[addr];
                            }
                        }
                        for(R = range.e.r; R > range.e.r - nrows; --R) {
                            for(C = range.s.c; C <= range.e.c; ++C) {
                                addr = XLSX.utils.encode_cell({r:R, c:C});
                                delete ws[addr];
                            }
                        }
                        for(R = 0; R < start_row; ++R) {
                            for(C = range.s.c; C <= range.e.c; ++C) {
                                addr = XLSX.utils.encode_cell({r:R, c:C});
                                if(ws[addr] && ws[addr].f) ws[addr].f = ws[addr].f.replace(crefregex, formula_cb);
                            }
                        }
                    }

                    /* write new range */
                    range.e.r -= nrows;
                    if(range.e.r < range.s.r) range.e.r = range.s.r;
                    ws["!ref"] = XLSX.utils.encode_range(this.clamp_range(range));

                    /* merge cells */
                    if(ws["!merges"]) ws["!merges"].forEach(function(merge, idx) {
                        var mergerange;
                        switch(typeof merge) {
                            case 'string': mergerange = XLSX.utils.decode_range(merge); break;
                            case 'object': mergerange = merge; break;
                            default: throw new Error("Unexpected merge ref " + merge);
                        }
                        if(mergerange.s.r >= start_row) {
                            mergerange.s.r = Math.max(mergerange.s.r - nrows, start_row);
                            if(mergerange.e.r < start_row + nrows) { delete ws["!merges"][idx]; return; }
                        } else if(mergerange.e.r >= start_row) mergerange.e.r = Math.max(mergerange.e.r - nrows, start_row);
                        this.clamp_range(mergerange);
                        ws["!merges"][idx] = mergerange;
                    });
                    if(ws["!merges"]) ws["!merges"] = ws["!merges"].filter(function(x) { return !!x; });

                    /* rows */
                    if(ws["!rows"]) ws["!rows"].splice(start_row, nrows);
                },
                showDetail(row){
                    this.isDetailBox = true;
                    this.nowShowingData = row;
                },
                clearSheet(){
                    this.sheet = []
                    this.isUploadBox = true
                    this.isDetailBox = false
                    document.getElementById("excelInputField").value = ''
                },
                sendSheetToBackend(){
                    const copyValueByKey = (oldKey, newKey)=>{
                        return R.ap(
                            R.flip(R.assoc(newKey)),
                            R.pipe(
                                R.prop(oldKey),
                                R.defaultTo(''),
                                R.replace(/ /g, '')
                            )
                        )
                    }
                    const transformSheetToBackend = R.map(
                        R.pipe(
                            copyValueByKey('財產編號', 'product_number'),
                            copyValueByKey('財產名稱', 'product_name'),
                            copyValueByKey('', 'is_check'),
                            copyValueByKey('', 'tip'),
                            copyValueByKey('序號', 'number'),
                            copyValueByKey('取得日期', 'get_date'),
                            copyValueByKey('數量', 'quantity'),
                            copyValueByKey('年限', 'age_limit'),
                            copyValueByKey('單價', 'single_value'),
                            copyValueByKey('', 'position'),
                            copyValueByKey('存置地點', 'label_position'),
                            copyValueByKey('廠牌型式', 'brand'),
                            copyValueByKey('單位', 'unit'),
                        )
                    )
                    if(this.isUploading) return
                    this.isUploading = true
                    fetch(
                        '/saveData/',
                        {
                            method:'POST',
                            body: JSON.stringify({ 'data': transformSheetToBackend(this.sheet) }),
                            headers:{
                                'X-CSRFToken': `${this.readCookie('csrftoken')}`,
                                'content-type': 'application/json'
                            }
                        }
                    ).then((res)=>{
                        return res.json()
                    }).then((jsonRes)=>{
                        R.pipe(
                            R.when(
                                R.equals('empty'),
                                (title)=>{
                                    Swal.fire({
                                        title: `${title}`,
                                        icon: 'error',
                                        confirmButtonText: 'OK'
                                    })
                                }
                            ),
                            R.when(
                                R.equals('success'),
                                (title)=>{
                                    Swal.fire({
                                        title: `${title}`,
                                        icon: 'success',
                                        confirmButtonText: 'OK'
                                    })
                                }
                            )
                        )(R.prop('result', jsonRes))
                        clearSheet()
                    }).finally(()=>{
                        this.isUploading = false
                    })
                },   
            },
            created(){
            }
        }).mount("#showExcel")
    </script>
{% endblock %}