{% extends 'new_Template.html' %}


{% block title %}
    <title>lease</title>
{% endblock %}

{% block style %}
{% endblock %}


{% block content %}
<div id="leaseTable">
    <!-- 上方分頁標籤 -->
    <div v-cloak class="bg-gray-800 w-full">
        <nav class="flex flex-row justify-center">
            <button @click="changeTab(1)" :class="'text-gray-50 py-4 px-6 block hover:text-blue-500 focus:outline-none ' + borrowTabCss">
                租借
            </button>
            <button @click="changeTab(2)" :class="'text-gray-50 py-4 px-6 block hover:text-blue-500 focus:outline-none ' + returnTabCss">
                歸還
            </button>
            <button @click="changeTab(3)" :class="'text-gray-50 py-4 px-6 block hover:text-blue-500 focus:outline-none ' + historyTabCss">
                歷史紀錄
            </button>
        </nav>
    </div>
    <div class="container mx-auto">
        
        <!-- 租借頁面 -->
        <div v-cloak :class="'container ' + borrowContainerCss">
            <!-- 待審核表格 -->
            <div class="align-middle inline-block max-w-full w-full">
                <div class="text-xl text-center font-bold m-2">
                    等待核准
                </div>
                <div class="overflow-x-auto">
                    <table class="w-full divide-y divide-gray-200 rounded-lg bg-gray-50">
                        <thead>
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    財產
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    借用人
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    日期
                                </th>
                                {% if user.is_superuser %}
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        同意
                                    </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            <tr v-for="waiting in waiting_data">
                                {% verbatim %}
                                <td class="px-4 py-4">
                                    <div class="text-sm font-medium text-gray-900 break-words">
                                        {{ waiting.leaseProperty }}
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-900">
                                        {{ waiting.borrower }}
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-500">
                                        {{ waiting.borrow_date }}
                                    </div>
                                </td>
                                {% endverbatim %}
                                {% if user.is_superuser %}
                                <td class="px-4 py-4 text-sm text-gray-500 grid grid-flow-col grid-cols-2 sm:gap-10 gap-2 sm:w-auto w-24">
                                    <button type="button" class="relative h-full justify-center border border-transparent
                                        text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2
                                        focus:ring-offset-2 focus:ring-indigo-500"
                                        @click="agree(waiting.id, waiting.leasePropertyId, true, false)">yes</button>
                                    <button type="button" class="relative h-full justify-center border border-transparent
                                        text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2
                                        focus:ring-offset-2 focus:ring-indigo-500"
                                        @click="agree(waiting.id, waiting.leasePropertyId, false, false)">no</button>
                                </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 借出表格 -->
            <div class="align-middle inline-block max-w-full w-full">
                <div class="text-xl text-center font-bold m-2">
                    借出中
                </div>
                <div class="overflow-x-auto">
                    <table class="w-full divide-y divide-gray-200 rounded-lg bg-gray-50">
                        <thead>
                            <tr>
                                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    財產
                                </th>
                                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    借用人
                                </th>
                                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    申請日期
                                </th>
                                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    同意借用人
                                </th>
                                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    同意日期
                                </th>
                                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    歸還
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            <tr v-for="loaning in loaning_data">
                                {% verbatim %}
                                <td class="px-4 py-4">
                                    <div class="text-sm font-medium text-gray-900 break-words">
                                        {{ loaning.leaseProperty }}
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-900">
                                        {{ loaning.borrower }}
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-900">
                                        {{ loaning.borrow_date }}
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-500">
                                        {{ loaning.borrow_administrator }}
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-500">
                                        {{ loaning.agree_date }}
                                    </div>
                                </td>
                                <td class="px-2 py-2 text-sm text-gray-500 w-32">
                                    <button type="button" class="justify-center border border-transparent text-sm font-medium rounded-md
                                        text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                        @click="returnProperty(loaning.id)">Return</button>
                                </td>
                                {% endverbatim %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- 歸還頁面 -->
        <div v-cloak :class="'container ' + returnContainerCss">
            <!-- 等待核准歸還表格 -->
            <div class="align-middle inline-block max-w-full w-full">
                <div class="text-xl text-center font-bold m-2">
                    等待核准歸還
                </div>
                <div class="overflow-auto max-h-96 rounded-lg">
                    <table class="w-full divide-y divide-gray-200 bg-gray-50">
                        <thead>
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    財產
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    借用人
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    同意借用人
                                </th>
                                {% if user.is_superuser %}
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        同意
                                    </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            <tr v-for="waiting_return in waiting_return_data">
                                {% verbatim %}
                                <td class="px-4 py-4">
                                    <div class="text-sm font-medium text-gray-900 break-words">
                                        {{ waiting_return.leaseProperty }}
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-500">
                                        {{ waiting_return.borrower }}
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-900">
                                        {{ waiting_return.borrow_administrator }}
                                    </div>
                                </td>
                                {% endverbatim %}
                                <td class="md:py-4 md:px-10 p-4 text-sm text-gray-500 w-24"
                                    v-if="perm.change_leaseproperty && perm.delete_leaseproperty && 
                                    perm.add_leaseproperty && perm.view_leaseproperty">
                                        <button type="button" class="relative h-full border border-transparent p-2
                                                text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none
                                                focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                                @click="agree(waiting_return.id, None, true, true)">同意</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- 歷史紀錄頁面 -->
        <div v-cloak :class="'container ' + historyContainerCss">
            <div class="align-middle inline-block max-w-full w-full">
                <div class="text-xl text-center font-bold m-2">
                    歸還紀錄
                </div>
                <div class="overflow-auto rounded-lg">
                    <table class="w-full divide-y divide-gray-200 bg-gray-50">
                        <thead>
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    財產
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    借用人
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    同意借用
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    歸還人
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    同意歸還
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    同意日期
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            <tr v-for="returned in returned_data">
                                {% verbatim %}
                                <td class="px-4 py-4" @click="getDataDetail(returned.leasePropertyID)">
                                    <div class="text-sm font-medium text-gray-900 break-words">{{ returned.leaseProperty }}</div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-900">{{ returned.borrower }}</div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-900">{{ returned.borrow_administrator }}</div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-900">{{ returned.returner }}</div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-900">{{ returned.returner_administrator }}</div>
                                </td>
                                <td class="px-4 py-4">
                                    <div class="text-sm text-gray-900">{{ returned.return_date }}</div>
                                </td>
                                {% endverbatim %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 彈跳視窗 對話框 -->
    <div v-cloak :class="{'fixed z-10 inset-0 overflow-y-auto transition duration-300':true, 'hidden':!detailModelStatus}" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        {% verbatim %}
        <div class="flex flex-wrap justify-center content-center text-center sm:p-0 h-full p-3">
            <!-- 背景黑色 -->
            <div @click="showDetail(false)" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
                aria-hidden="true"></div>

            <!-- 對話框實體 sm:align-middle sm:max-w-lg  -->
            <div class="inline-block align-bottom rounded-lg text-left shadow-xl transform transition-all duration-75 sm:max-w-2xl sm:w-10/12 w-full">
                <!-- 關閉叉叉按鈕 -->
                <div @click="showDetail(false)" class="absolute right-0 w-8 h-8 flex flex-wrap justify-center content-center m-2 rounded-full hover:bg-gray-100 cursor-pointer transition-all duration-500">
                    <svg class="w-3 h-3" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001"
                        style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                        <g>
                            <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
                                L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
                                c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
                                l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
                                L284.286,256.002z" />
                        </g>
                    </svg>
                </div>
                <div class="bg-white py-4 flex flex-col overflow-hidden rounded-lg h-full">
                    <div class="px-4 py-5 sm:px-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Property Information
                        </h3>
                    </div>
                    <div class="border-t border-gray-200 overflow-y-auto">
                        <dl>
                            <div class="bg-gray-100 px-4 py-5 sm:gap-4 sm:px-6">
                                <img :src="currentData.image">
                            </div>
                            <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Full name
                                </dt>
                                <dd class="mt-1 text-xl text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ currentData.product_name }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Brand
                                </dt>
                                <dd class="mt-1 text-xl text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ currentData.brand }}
                                </dd>
                            </div>
                            <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Number
                                </dt>
                                <dd class="mt-1 text-xl text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ currentData.property_number }}-{{ currentData.serial_number }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Position
                                </dt>
                                <dd class="mt-1 text-xl text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ currentData.position }}
                                </dd>
                                <dt class="text-sm font-medium text-gray-500">
                                    LabelPosition
                                </dt>
                                <dd class="mt-1 text-xl text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ currentData.label_position }}
                                </dd>
                            </div>
                            <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    GetDate
                                </dt>
                                <dd class="mt-1 text-xl text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ currentData.get_date }}
                                </dd>
                                <dt class="text-sm font-medium text-gray-500">
                                    Expiry
                                </dt>
                                <dd class="mt-1 text-xl text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ currentData.expiry_date }} / 年
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Price
                                </dt>
                                <dd class="mt-1 text-xl text-gray-900 sm:mt-0 sm:col-span-2">
                                    ${{ currentData.price }}
                                </dd>
                                <dd class="mt-1 text-xl text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ currentData.quantity }}/{{ currentData.unit }}
                                </dd>
                            </div>
                            <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Tips
                                </dt>
                                <dd class="mt-1 text-xl text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ currentData.tip }}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>

</div>
{% endblock %}


{# 此部分為javaScript #}
{% block javascript %}
    <script>
        navbar.$data.navbarMenuLeasePropertyCss = navbar.$data.navbarMainMenuCss;

        const app = Vue.createApp({
            data(){
                return{
                    getLoanProperty: "{% url 'getLoanProperty' %}",
                    agreeReturnProperty: "{% url 'agreeReturnProperty' %}",
                    agreeLoanProperty: "{% url 'agreeLoanProperty' %}",
                    returnPropertyURL: "{% url 'returnProperty' %}",
                    getSingleDataURL: "{% url 'getSingleData' %}",
                    waiting_data: [],
                    loaning_data: [],
                    waiting_return_data: [],
                    returned_data: [],
                    username: "{{ user }}",
                    perm: {},

                    TabSelectCss: "border-b-2 font-medium border-blue-500",
                    borrowTabCss: "border-b-2 font-medium border-blue-500",
                    returnTabCss: "",
                    historyTabCss: "",

                    borrowContainerCss: "show",
                    returnContainerCss: "hidden",
                    historyContainerCss: "hidden",

                    currentData: "",
                    detailModelStatus: false,
                }
            },
            methods:{
                // 更換Tab
                changeTab(tabNum){
                    switch(tabNum){
                        case 1:
                            this.borrowTabCss = this.TabSelectCss;
                            this.returnTabCss = "";
                            this.historyTabCss = "";
                            this.borrowContainerCss = "show";
                            this.historyContainerCss = "hidden";
                            this.returnContainerCss = "hidden";
                            break;
                        case 2:
                            this.borrowTabCss = "";
                            this.returnTabCss = this.TabSelectCss;
                            this.historyTabCss = "";
                            this.borrowContainerCss = "hidden";
                            this.returnContainerCss = "show";
                            this.historyContainerCss = "hidden";
                            break;
                        case 3:
                            this.borrowTabCss = "";
                            this.returnTabCss = "";
                            this.historyTabCss = this.TabSelectCss;
                            this.borrowContainerCss = "hidden";
                            this.returnContainerCss = "hidden";
                            this.historyContainerCss = "show";
                            break;
                    }
                },
                // 與伺服器要求資料重整介面
                reLoad(){
                    let self = this;
                    axios.get(this.getLoanProperty)
                        .then(function(response){
                            self.waiting_data = response.data.waiting_data;
                            self.loaning_data = response.data.loaning_data;
                            self.waiting_return_data = response.data.waiting_return_data;
                            self.returned_data = response.data.returned_data;
                            self.perm = response.data.perm;
                        })
                        .catch(function (error) {
                        })
                        .then(function(){
                        })
                },
                // 同意租借功能
                agreeBorrow(id, leasePropertyId, agree){
                    let self = this;
                    if(agree){
                        axios.get(this.agreeLoanProperty,{
                                params:{
                                    "id": id,
                                    "leasePropertyId": leasePropertyId,
                                    "agree": "True",
                                },
                            })
                            .then(function(response){
                                let i = 0;
                                self.waiting_data.forEach(e => {
                                    if(e.id == id){
                                        self.loaning_data.push(self.waiting_data[i]);
                                        self.waiting_data.splice(i, 1);
                                    }
                                    i++;
                                });
                            })
                            .catch(function (error) {
                            })
                            .then(function(){
                                self.reLoad();
                            })
                    }
                    else{
                        axios.get(this.agreeLoanProperty,{
                                params:{
                                    "id": id,
                                    "leasePropertyId": leasePropertyId,
                                    "agree": "False",
                                },
                            })
                            .then(function(response){
                                let i = 0;
                                self.waiting_data.forEach(e => {
                                    if(e.id == id) self.waiting_data.splice(i, 1);
                                    i++;
                                });
                            })
                            .catch(function (error) {
                            })
                            .then(function(){
                                self.reLoad();
                            })
                    }
                },
                // 同意歸還功能
                agreeReturn(id, agree){
                    let self = this;
                    if(agree){
                        axios.get(this.agreeReturnProperty,{
                                params:{
                                    "id": id,
                                    "agree": "True",
                                },
                            })
                            .then(function(response){
                                let i = 0;
                                self.waiting_return_data.forEach(e => {
                                    if(e.id == id) self.waiting_return_data.splice(i, 1);
                                    i++;
                                });
                            })
                            .catch(function (error) {
                            })
                            .then(function(){
                                self.reLoad();
                            })
                    }
                    else{
                        axios.get(this.agreeReturnProperty,{
                                params:{
                                    "id": id,
                                    "agree": "False",
                                },
                            })
                            .then(function(response){
                                let i = 0;
                                self.waiting_return_data.forEach(e => {
                                    if(e.id == id) self.waiting_return_data.splice(i, 1);
                                    i++;
                                });
                            })
                            .catch(function (error) {
                            })
                            .then(function(){
                                self.reLoad();
                            })
                    }
                },
                // 統合
                agree(id, leasePropertyId, agree, RetOrBor){
                    // 租借功能
                    if(RetOrBor == false){
                        this.agreeBorrow(id, leasePropertyId, agree);
                    }
                    // 歸還功能
                    else if(RetOrBor == true){
                        this.agreeReturn(id, agree);
                    }
                },
                // 歸還租借物品
                returnProperty(id){
                    let self = this;
                    axios.get(this.returnPropertyURL,{
                            params:{
                                "id": id,
                            },
                        })
                        .then(function(response){
                            let i = 0;
                            self.loaning_data.forEach(e => {
                                if(e.id == id){
                                    self.waiting_return_data.push(self.loaning_data[i]);
                                    self.loaning_data.splice(i, 1);
                                }
                                i++;
                            });
                            mySocket.send(JSON.stringify({"action": "newNotify"}));
                        })
                        .catch(function (error) {
                        })
                        .then(function(){
                            self.reLoad();
                        })
                },
                // 取得物品詳細資訊
                getDataDetail(propId){
                    let self = this;
                    axios.get(this.getSingleDataURL,{ params:{ "id": propId }, })
                        .then((res)=>{
                            let data = res['data'];
                            if(data['result'] == 'empty');
                            else if(data['result'] == 'success'){
                                self.showDetail(true);
                                self.currentData = data['data'];
                            }
                        })
                        .catch((error)=>{})
                        .then(()=>{})
                },
                // 詳細視窗的顯示
                showDetail(status){
                    this.detailModelStatus = status;
                }
            },
            mounted(){

            },
            created(){
                this.reLoad();        
            },
        }).mount("#leaseTable")
    </script>
{% endblock %}