{% extends 'new_Template.html' %}

{% block title %}
    <title>
        {{ user.username }} profile
    </title>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div id="profile">
    
    {% load static %}
    <div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">
        
        <!--Main Col-->
        <div id="profile" class="w-full lg:w-2/5 rounded-lg lg:rounded-lg shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">
        
            {% verbatim %}
            <div class="p-4 md:p-12 text-center lg:text-left">
                <!-- Image for mobile view-->
                <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
                     style="background-image: url('https://source.unsplash.com/MP0IUfwrn0A')"></div>
                
                <h1 class="text-3xl font-bold pt-8 lg:pt-0">{{ username }}</h1>
                <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
                <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
                    <svg class="h-4 fill-current text-green-700 pr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 
                        0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z"/>
                    </svg>
                    Email <br> {{ email }}
                </p>
                <p class="pt-2 text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                    <img class="h-4 fill-current text-green-700 pr-4" :src="lastLoginPic">
                    Last Login <br> {{ last_login }}
                </p>
                <p class="pt-2 text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                    <img class="h-4 fill-current text-green-700 pr-4" :src="joinedPic">
                    Join Date <br> {{ date_joined }}
                </p>
            </div>
            {% endverbatim %}
        </div>
        
        <!--Img Col-->
        <div class="w-full lg:w-3/5">
            
            <img src="https://i.imgur.com/v38ZpVa.png" style="object-fit: cover;" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block h-1/2">
            
        </div>

    </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
        const app = Vue.createApp({
            data(){
                return{
                    lastLoginPic: "{% static 'images/last_login.png' %}",
                    joinedPic: "{% static 'images/joined.png' %}",

                    username: "username",
                    email: "default@gmail.com",
                    last_login: "2021-01-01",
                    date_joined: "2021-01-01"
                }
            },
            methods:{

            },
            created(){
                $.get('/getUserDetail', (response)=>{
                    this.username = response.userName;
                    this.email = response.email;
                    this.last_login = response.last_login;
                    this.date_joined = response.date_joined;
                })
            }
        }).mount("#profile")
    </script>
{% endblock %}